

<div class="app-wrapper">
  <%- include('partials/sidebar') %>

  <div class="app-main">
    <%- include('partials/header') %>

    <main class="app-content">
      <p>페이지 내용</p>
    </main>
  </div>
</div>

<%- include('partials/footer') %>
